<nav class="navbar">
  <div class="navbar__container container">
    <a href="/" class="navbar__name">
      1 v 1 Tic Tac Toe
    </a>
    <ul class="navbar__menu">
      {{#if id}}
        <li class="name">
          <div class="name__output-container">
            <p class="name__output">
              Anonymous
            </p>
            <i class="fa-solid fa-pencil"></i>
          </div>
          <form action="submit" class="name__form">
            <input type="text" class="name__input" value="Anonymous" />
            <button type="submit" class="name__submit">
              <i class="fa-solid fa-check"></i>
            </button>
          </form>
        </li>
      {{else}}
        <li class="navbar__menu-item">
          <a href="/create-game">Create a new game</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>