@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

p {
  margin: 0;
  padding: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav,
main,
footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.navbar {
  background: grey;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.navbar__name {
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: white;
}

.navbar__name:hover {
  color: #e6e6e6;
}

.navbar__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__menu-item {
  cursor: pointer;
}

.navbar__menu-item a {
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: white;
}

.navbar__menu-item a:hover {
  color: #e6e6e6;
}

.footer {
  background: grey;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name--edit .name__output-container {
  display: none;
}

.name--edit .name__form {
  display: block;
}

.name__output-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: white;
  cursor: pointer;
}

.name__output {
  pointer-events: none;
}

.name__form {
  display: none;
  margin: 0;
}

.name__form input {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  border: none;
  padding: 5px 6px;
  background: lightgrey;
  margin-right: 5px;
}

.name__form button {
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: green;
}

.name__form button i {
  pointer-events: none;
}

.gamecode__container {
  margin: 10px 0;
}

.gamecode__tooltip {
  display: inline-block;
  position: relative;
  border-style: dashed;
  padding: 5px;
  background: yellow;
  border-radius: 10px;
}

.gamecode__tooltip:hover .gamecode__tooltip-text {
  visibility: visible;
  opacity: 1;
}

.gamecode__tooltip-text {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 135%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none;
}

.gamecode__tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.verses__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameinfo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-piece {
  height: 50px;
  width: 158px;
  margin: 2px;
  background: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.current-piece__piece {
  margin: auto;
  color: black;
}

.gameboard {
  display: none;
}

.gameboard--active {
  display: block;
}

.gameboard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gameboard__block {
  height: 150px;
  width: 150px;
  background: grey;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  border: 5px solid black;
}

.gameboard__block:hover {
  background: #9a9a9a;
}

.gameboard__block--contains-piece {
  background: pink;
  cursor: auto;
  pointer-events: none;
}

.gameboard__block--winner {
  background: green;
  pointer-events: none;
}

.gameboard__piece {
  margin: auto;
  color: white;
  pointer-events: none;
  font-size: 80px;
}

.reset {
  margin: 2px;
  width: 158px;
}
/*# sourceMappingURL=style.css.map */