<p>Send this code to your friend to invite: {{id}}</p>

<div id="player-output"></div>

<div id="current-turn">X's turn</div>

<div>
  <p id="player-one-name"></p>
  vs
  <p id="player-two-name"></p>
</div>

<input type="text" id="name-input" />
<button id="set-name">Set Name</button>

{{> gameboard }}

<script src="/javascript/websocket.js"></script>