<h1>This is the game page.</h1>

<p>Send this code to your friend to invite: {{id}}</p>

<div id="player-output"></div>

<div id="current-turn">X's turn</div>

<div>
  <p id="player-one-name"></p>
  vs
  <p id="player-two-name"></p>
</div>

<input type="text" id="name-input" />
<button id="set-name">Set Name</button>

<div class="gameboard">
  <div class="gameboard__row">
    <div class="gameboard__block" data-containspiece="false" data-position="0">
      <p class="gameboard__piece"></p>
    </div>
    <div class="gameboard__block" data-containspiece="false" data-position="1">
      <p class="gameboard__piece"></p>
    </div>
    <div class="gameboard__block" data-containspiece="false" data-position="2">
      <p class="gameboard__piece"></p>
    </div>
  </div>
  <div class="gameboard__row">
    <div class="gameboard__block" data-containspiece="false" data-position="3">
      <p class="gameboard__piece"></p>
    </div>
    <div class="gameboard__block" data-containspiece="false" data-position="4">
      <p class="gameboard__piece"></p>
    </div>
    <div class="gameboard__block" data-containspiece="false" data-position="5">
      <p class="gameboard__piece"></p>
    </div>
  </div>
  <div class="gameboard__row">
    <div class="gameboard__block" data-containspiece="false" data-position="6">
      <p class="gameboard__piece"></p>
    </div>
    <div class="gameboard__block" data-containspiece="false" data-position="7">
      <p class="gameboard__piece"></p>
    </div>
    <div class="gameboard__block" data-containspiece="false" data-position="8">
      <p class="gameboard__piece"></p>
    </div>
  </div>
</div>

<script src="/javascript/websocket.js"></script>