<p class="gamecode__container">
  <span>Send this code to your friend to invite: </span>
  <span class="gamecode__tooltip">
    <span class="gamecode__tooltip-text">Copy ID</span>
    <strong class="gamecode__id">
    {{id}}
    </strong>
  </span>
</p>

<div class="verses__container">
  <h3 id="player-one-name" class="verses__player"></h3>
  <span>vs</span>
  <h3 id="player-two-name" class="verses__player"></h3>
</div>

<div class="gameinfo__container">
  <div id="piece-output"></div>
  <div id="current-turn">X's turn</div>
</div>

{{> gameboard }}

<script src="/javascript/websocket.js"></script>