<a href="/create-game">Create a new game</a>

<p>Use a game code to join an existing game:</p>

<form action="submit">
  <input type="text" id="game-code-input" />
  <button type="submit">Join</button>
</form>

<script src="/javascript/join-game.js"></script>